<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="/" type="button" class="btn-close m-2 ms-0"></a>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
      <img src="/<%= code %>.png" class="img-fluid">
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>