<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
    <div class="container-fluid mt-2">
    Quarterly Performances - IssueTracker
    <br>
    Reveiw ana analyze quarterly performances, and more... 
    <br>
    Contact: issuetree.tracker@gmail.com
    </div>
<%- include("./partials/footer.ejs") %>