<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
    <div class="container-fluid mt-2">
    Economics, investment, company analysis, and a lot more to come... 
    <br>
    <br>
    Andy Kim, 
    <br>
    TN Partners, a corporation in Seoul, South Korea
    <br>
    Contact: andy@tnpartners.net
    </div>
<%- include("./partials/footer.ejs") %>