<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>
  <div class="container-fluid mt-2">
      <h6>TN Partners - to be updated</h6>
      <br>
  </div>
  <script src="/js/app.js?v=<%= timestamp %>"></script>
<%- include("./partials/footer.ejs") %>
