<footer>
  <div class="m-2 float-end">Copyright &copy; TN Partners</div>
</footer>
</body>
<script>
    console.log("<%= routeMessage %>"); // Use template engine to insert the message
</script>
</html>